# -------------------------
# Python
# -------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# -------------------------
# Virtual Environments
# -------------------------
venv/
.venv/
env/

# -------------------------
# Jupyter
# -------------------------
.ipynb_checkpoints/
*.ipynb

# -------------------------
# Training Files
# -------------------------
training_environment/

# -------------------------
# IDE
# -------------------------
.vscode/
.idea/

# -------------------------
# OS Files
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# Logs
# -------------------------
*.log

# -------------------------
# Environment Variables
# -------------------------
.env
.env.*

# -------------------------
# Pytest Cache
# -------------------------
.pytest_cache/